.post
{
  box-shadow: 5px -5px 15px rgba(134, 134, 134, 0.295);
  margin-bottom: 30px;
  border-radius: 30px;
  padding: 25px;
}



.post__likeIcon
{
  display: flex;
  align-items: center;
}

.post__likeIcon > span
{
  color: black;
  margin: 10px;
}

.post__config
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__user
{
  display: flex;
  align-items: center;
}

.post__user > h3
{
  margin: 10px;
}

.post__user > p
{
  font-size: 12px;
}

.post__content
{
  margin: 20px;
}

.post__image
{
  margin: 10px 0;
  border-radius: 10px;
}

.post__bottomLeft
{
  display: flex;
  align-items: center;
}
.post__bottom
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}