.rightbar
{
  flex: 2.5;
  box-shadow: 5px -5px 15px rgba(134, 134, 134, 0.295);
  border-radius: 30px;
  padding: 25px;
  margin: 25px;
}


.rightbar__title
{
  cursor: pointer;
}

.rightbar__title:hover > span
{
  text-decoration: underline;
  transition: .5s;
}

.rightbar__top
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}



.rightbar__friends > h3:hover
{
  color: whitesmoke;
  border-radius: 30px;
  box-shadow: 5px -5px 15px rgba(134, 134, 134, 0.603);

}