.sidebarIcon
{
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 30px;
  transition: .5s;

}

.sidebarIcon:hover
{
  border-radius: 60px;
  color: white;
  margin: 15px 30px;
  transition: .5s;
  background: var(--blue);
}

.sidebarIcon > h2
{
  margin: 0 15px;
  font-size: 15px;
}